<div id="top" class="header">
  <div id="heart" style="text-align: center;"></div>
</div>

<div id="offline" ng-show="siteClosed">
  <h1>The site has been closed!</h1>
  <p>
    ♥♥ Sorry!! ♥♥
  </p>
</div>

<div id="offline" ng-show="formOffline">
  <h1>No more roses left!</h1>
  <p>
    ♥♥ Sorry!! ♥♥
  </p>
</div>

<div id="thanks" ng-show="formSuccess">
  <h1>Thank you!</h1>
  <p>
    ♥♥ Thanks for making Valentine's Day special for {{previousRecipient}}. ♥♥
  </p>
</div>
<div id="main" ng-show="!formOffline && !siteClosed">
  <h1>Git a rose!</h1>
  <p>
    Want to commit? Git a rose! It's time to make someone in your life very api. For Valentine’s Day, tech@nyu will hand deliver a rose to your special some one (or someones!). Just <a href="https://venmo.com/?txn=pay&recipients=techatnyu&amount=2&note=git%20a%20rose&audience=public" target="_blank">Venmo $2 to @TechatNYU</a> and fill ​<b>this</b>​ form.
  </p>
  <p>
     <b>*Only NYU dorms are supported<b><br>
     <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://val.techatnyu.org/" data-text="For Valentine’s Day, @TechAtNYU will hand deliver a rose to your special some one (or someones!)" data-size="large">Tweet</a>
     <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </p>
</div>

<form name="deliveryForm" novalidate role="form" ng-show="!formOffline && !siteClosed">
  <div class="form-group">
    <label>Their name</label>
    <input type="text" name="recipient" class="form-control" placeholder="Enter his/her/their name"
        ng-model="delivery.recipient" required>
    <span class="error" ng-show="deliveryForm.recipient.$dirty && deliveryForm.recipient.$error.required">Required!</span>
  </div>

  <div class="form-group">
    <label>Message</label>
    <textarea name="message" class="form-control" rows="3" placeholder="You make me feel special."
        ng-model="delivery.message" required></textarea>
    <span class="error" ng-show="deliveryForm.message.$dirty && deliveryForm.message.$error.required">Required!</span>
  </div>

  <div class="form-group">
    <label>Your name</label>
    <input type="text" name="sender" class="form-control" placeholder="Enter your name"
        ng-model="delivery.sender" required>
    <span class="error" ng-show="deliveryForm.sender.$dirty && deliveryForm.sender.$error.required">Required!</span>
  </div>

  <div class="form-group">
    <label>Your phone number</label>
    <input type="number" name="phoneNumber" class="form-control" placeholder="XXXXXXXXXX"
        ng-pattern="phoneValidation" ng-model="delivery.phoneNumber" required>
    <span class="error" ng-show="deliveryForm.phoneNumber.$dirty && deliveryForm.phoneNumber.$error.required">Required!</span>
    <span class="error" ng-show="deliveryForm.phoneNumber.$dirty && deliveryForm.phoneNumber.$error.pattern">Invalid phone number!</span>
    <span class="help-block">We only use your phone number to send you delivery status.</span>
  </div>

  <div class="form-group">
    <label>Destination</label>
    <select name="dorm" class="form-control" ng-model="delivery.dorm" ng-options="dorm for dorm in dorms"
        required>
    </select>
    <span class="error" ng-show="deliveryForm.dorm.$dirty && deliveryForm.dorm.$error.required">Required!</span>
  </div>
  <div class="form-group">
    <label>Room Number</label>
    <input type="text" name="roomNumber" class="form-control" placeholder="Enter room number"
        ng-model="delivery.roomNumber" required>
    <span class="error" ng-show="deliveryForm.roomNumber.$dirty && deliveryForm.roomNumber.$error.required">Required!</span>
  </div>
  <button type="submit" ng-click="deliveryForm.$valid && addDelivery()" class="btn btn-default">Send!</button>
</form>

<div class="footer">
  <img id="logo" src="../images/tech_at_nyu_logo.png" alt="Tech@NYU"/>
  <p>♥ Happy Valentine's Day from Tech@NYU</p>
</div>

<script>
     var w = 450,
         h = 200,
         piece = 15;
     var svg = d3.select("#heart").append("svg");
     svg.attr('width', w)
         .attr('height', h);
     //x,y pairs that contain coordiantes to each square
     //will also contain color attributes
     var coordinates = [
         {x: 5*piece, y: 5*piece, color: "#7f0000", rank: 1}, {x: 6*piece, y: 5*piece, color: "#990000", rank: 2},
         {x: 4*piece, y: 5*piece, color: "#8e0f0b", rank: 2}, {x: 5*piece, y: 6*piece, color: "#5d1a1b", rank: 2},
         {x: 5*piece, y: 4*piece, color: "#e50000", rank: 2}, {x: 6*piece, y: 6*piece, color: "#990000", rank: 3},
         {x: 4*piece, y: 6*piece,color: "#690100", rank : 3}, {x: 4*piece, y: 4*piece, color: "#cc0000", rank: 3},
         {x: 6*piece, y: 4*piece, color: "#f44622", rank: 3}, {x: 5*piece, y: 7*piece, color: "#340000", rank: 4},
         {x: 3*piece, y: 5*piece, color: "#8e0f0b", rank : 4},{x: 7*piece, y: 5*piece, color: "#e50000", rank: 4},
         {x: 7*piece, y: 4*piece, color: "#ff4c4c", rank : 4},{x: 3*piece, y: 4*piece, color: "#ac0500", rank: 4},
         {x: 6*piece, y: 3*piece, color: "#df351f", rank: 5}, {x: 7*piece, y: 3*piece, color: "#fa5724", rank: 5},
         {x: 3*piece, y: 3*piece, color: "#bf1000", rank: 5}, {x: 4*piece, y: 3*piece, color: "#f84010", rank: 5},
         {x: 8*piece, y: 4*piece, color: "#ff4c4c", rank: 6}, {x: 2*piece, y: 4*piece, color: "#ac0500", rank: 6},
         {x: 8*piece, y: 3*piece, color: "#f77c2a", rank: 6}, {x: 2*piece, y: 3*piece, color: "#8e0f0b", rank: 6},
         {x: 7*piece, y: 2*piece, color: "#df351f", rank: 6}, {x: 8*piece, y: 2*piece, color: "#f77c2a", rank: 6},
         {x: 2*piece, y: 2*piece, color: "#8e0500", rank: 6},
         {x: 3*piece, y: 2*piece, color: "#8e1918", rank: 6}, {x: 5*piece, y: 8*piece, color: "#340000", rank: 7},
         {x: 6*piece, y: 7*piece, color: "#5d1a1b", rank: 8},
         {x: 4*piece, y: 7*piece, color: "#340000", rank: 8}, {x: 7*piece, y: 6*piece, color: "#a80700", rank: 9},
         {x: 3*piece, y: 6*piece, color: "#690100", rank: 9},{x: 8*piece, y: 5*piece, color: "#e50000", rank: 10},
         {x: 2*piece, y: 5*piece, color: "#660000", rank: 10},{x:9*piece, y: 4*piece, color: "#ffd27f", rank: 11},
         {x: 1*piece, y: 4*piece, color: "#690100", rank: 11}, {x: 9*piece, y: 3*piece, color: "#f77c2a", rank: 12},
         {x: 1*piece, y: 3*piece, color: "#690100", rank: 12}, {x: 9*piece, y: 2*piece, color: "#ffd27f", rank: 13},
         {x: 1*piece, y: 2*piece, color: "#740100", rank: 13},
         {x: 2*piece, y: 1*piece, color: "#8e1a19", rank: 14}, {x: 3*piece, y: 1*piece, color: "#ac0500", rank: 15},
         {x: 7*piece, y: 1*piece, color: "#f73f0c", rank: 15}, {x: 8*piece, y: 1*piece, color: "#fa5f27", rank: 14},
         {x: 4*piece, y: 2*piece, color: "#ca1300", rank: 16}, {x: 6*piece, y: 2*piece, color: "#f34f2b", rank: 16},
         {x: 5*piece, y: 3*piece, color: "#f04222", rank: 17}
     ];

     svg.selectAll("rect").data(coordinates)
       .enter().append("rect")
       .attr("x", function(d){
         return d.x;
       })
       .attr("y", function(d){
         return 0;
       })
       .attr("rx", 2)
       .attr("ry", 2)
       .attr("fill", function(d){
         return d.color;
       })
       .attr("width", piece += Math.random()*2)
       .attr("height", piece += Math.random()*2)
       .attr("stroke", "none")
       .style("opacity", 0);

       svg.selectAll("rect")
           .transition()
           .delay(function(d, i) {
             return i * 80;
           })
           .ease("elastic").duration(3000)
           .style('opacity', 0.9)
           .attr("y", function(d){
             return d.y;
           });

       svg.append("text")
           .text("Let Tech@NYU help you spread the love")
           .style("font-size", 20)
           .attr("font-family", 'Dancing Script', 'cursive')
           .attr("x", 150)
           .attr("y", 140);
</script>
